.inner {
    max-width: 960px;
    margin: 0 auto;
}
/* footer를 무조건 화면 맨 아래에 고정 */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
header {
    border-bottom: 2px solid #efefef;
}
header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo img {
    width: 40px;
    margin-right: 10px;
    vertical-align: -10px;
}
header .logo {
    font-weight: 600;
    color: #000;
    font-size: 28px;
}
header nav {
    display: flex;
    gap: 120px;
}
header nav a {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    padding: 25px 15px;
}
header nav a:hover {
    color: red;
}

.mainImg {
    height: 40vh;
    background: linear-gradient(#6b6b6b, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainImg h2 {
    font-weight: 600;
    margin-bottom: 15px;
}
.mainImg p {
    font-weight: 500;
    font-size: 18px;
}
.sec-home .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 50px;
}
.sec-home .inner .info-card {
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #000;
}
.info-card svg {
    margin-right: 10px;
    vertical-align: middle;
}
.info-card h3 {
    margin-bottom: 15px;
}
.info-card .desc {
    line-height: 1.7;
}
.counter .inner {
    display: block;
    text-align: center;
}
.counter .inner h3 {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 30px;
}
.counter .inner p {
    display: inline-block
}
.counter .inner .btn-area {
    display: flex;
    justify-content: center;
    gap: 30px;
}
footer {
    padding: 30px;
    border-top: 1px solid #000;
    text-align: center;
}
.sec-classpage h2 {
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;
}
.sec-classpage p {
    margin-bottom: 10px;
}
.sec-classpage .sub-title {
    margin-bottom: 20px;
    text-align: center;
}
.tab-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}
.class-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}
.card {
    padding: 10px;
    border: 1px solid #000;
}

.sec-todoPage .inner h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.sec-todoPage .inner .input-row {
    text-align: center;
    margin-bottom: 50px;
}
.sec-todoPage .inner .todo-list {
    text-align: center;
}
.sec-todoPage .inner .todo-list li {
    margin-bottom: 10px;
}
